extends layout

block content
  h1=title
  p Welcome to #{title}
  p To use the app choose one:
  b /random/numeric - To random numbers
  p   &nbsp;&nbsp;&nbsp;&nbsp;params:
  p   &nbsp;&nbsp;&nbsp;&nbsp;number - required
  b /random/string - To random characters
  p   &nbsp;&nbsp;&nbsp&nbsp;params:
  p   &nbsp;&nbsp;&nbsp;&nbsp;size - required
